.row-fluid.page_header
  .pagination.pagination_base
    %ul
      %li= link_to('', root_path, class: 'icon-home')
      %li= link_to('', trees_messages_path(page: current_page), class: 'icon-th-list')
