.container-fluid
  = render partial: 'thread', object: @message, as: :entry, locals: {button_display: false, thumbnail_display: false}
  - @message.photos.each do |photo|
    = render(partial: 'photos/photo', object: photo)