.container-fluid
  = link_to(t('buttons.back'), trees_messages_path(page: @message.current_page), class: 'header')
  = render(partial: 'thread', object: @message, as: :entry, locals: {button_display: true})
  = render(partial: 'comments/thread', collection: @message.comments, as: :entry, locals: {button_display: true})
  = link_to(t('buttons.back'), trees_messages_path(page: @message.current_page), class: 'header')
