.container-fluid
  = render(partial: 'thread', object: @message, as: :entry, locals: {button_display: true})
  = render(partial: 'comments/thread', collection: @message.comments, as: :entry, locals: {button_display: true})