.row-fluid.photo_base
  %ul.media-list
    %li.media
      = link_to(image_tag(photo.photo_data.vga.to_s, class: 'img-polaroid photo_vga'), photo.photo_data.url.to_s, target: '_blank')
      .media-body
        %h5.media-heading
        %table.table
          %thead
            %tr
              %th(colspan=2)= photo.title
          %tbody
            - photo.formatted_exif.each do |key, value|
              %tr
                %td= t('exif.attributes')[key]
                %td= value