.row-fluid.photo_base
  .row-fluid
    .span12
      = photo.title
  .row-fluid
    .span12
      = link_to(image_tag(photo.photo_data.vga.to_s, class: 'img-polaroid photo_vga'), photo.photo_data.url.to_s)
      - photo.formatted_exif.each do |key, value|
        %div(style='width: auto;')
          %span(style='width: 40%;')
            = t('exif.attributes')[key]
          %span
            = value