.container-fluid.photo_vga_base
  .row-fluid
    .span8
      = image_tag(@photo.photo_data.vga.to_s, class: 'img-polaroid')
    .span4
      .row-fluid
        .span12= @photo.title
      .row-fluid
        .span12
  .row-fluid
    .span12
      = link_to('full size', @photo.photo_data.url.to_s)
