// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tree {
  background-color: #FBFBFB;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tree_root {
  background-color: #DBDBDB;
  line-height: 40px;
  display: block;
}

.message_headline_base_with_any_branch {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  @extend .tree_root;
}

.message_headline_base_with_no_branch {
  border-radius: 5px;
  @extend .tree_root;
}

.entry_headline {
  padding-left: 10px;
  padding-right: 10px;
}

.comment_base {
  margin-top: 5px;
}

.branch {

}

.thread {
  background-color: #FBFBFB;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thread_header {
  background-color: #DBDBDB;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 40px;
  display: block;
}

.thread_body {
  padding: 10px;
}

.thread_photo {
  margin: 10px;
}

nav.pagination {
  display: inline;
}

.button_group {
  padding-left: 10px;
  padding-right: 10px;
  form {
    margin: 0px;
    display: inline;
    div {
      display: inline;
    }
  }
  input[type = 'password'] {
    display: inline;
    width: 35%;
    margin: 0px;

  }
}

.entry_form {
  margin: 10px;
  label {
    text-align: right;
    display: inline;
  }
  label.required {
    font-weight: bold;
  }
  input[type = 'text'] {
    display: inline;
    width: 98%;
  }
  textarea {
    width: 98%;
  }
  input[type = 'checkbox'] {
    display: inline;
  }
}

.delete_form {
  text-align: center;
}
