// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$smartphone-size: 767px;

a {
  color: rgb(66, 169, 238);
}

.tree {
  background-color: #FBFBFB;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  @media (max-width: $smartphone-size) {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.tree_root {
  background-color: #DBDBDB;
  line-height: 40px;
  display: block;
  @media (max-width: $smartphone-size) {
    line-height: 26px;
  }
}

.message_headline_base_with_any_branch {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  @extend .tree_root;
}

.message_headline_base_with_no_branch {
  border-radius: 5px;
  @extend .tree_root;
}

.entry_headline {
  padding-left: 10px;
  padding-right: 10px;
}

.entry_headline_date
{
  text-align: right;
  float: right;
}

.comment_base {
  margin-top: 5px;
}

.thread {
  background-color: #FBFBFB;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thread_header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  @extend .tree_root;
}

.thread_body {
  padding: 10px;
}

.thread_photo {
  @media (max-width: $smartphone-size) {
    margin-bottom: 5px;
  }
}

.thread_photo_group {
  margin: 10px;
  @media (max-width: $smartphone-size) {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

nav.pagination {
  display: inline;
}

.button_group {
  float: right;
  a {
    margin-left: 10px;
  }
}

.entry_form {
  label.required {
    font-weight: bold;
  }
  .alert {
    margin-bottom: 0px;
    margin-top: 5px;
    display: table;
  }
}

.delete_form {
  text-align: center;
}

.page_header {
  margin-top: 10px;
}

.icon_base {
  float: left;
  margin-right: 10px;
}

.pager_base {
  float: left;
}

.pagination_base {
  display: inline;
  margin: 0px;
}

.search_base {
  float: right;
  form {
    display: inline;
  }
}

.search-hit {
  color: rgb(116, 226, 116);
}

.new-entry {
  color: rgb(240, 139, 123);
}