// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$smartphone-size: 767px;

.photo_vga {
  float: left;
  @media (max-width: $smartphone-size) {
    padding-left: 3px;
    padding-right: 3px;
    float: none;
    img {
      max-width: -webkit-calc(100% - 5px * 2);
    }
  }
}

.photo_base {
  margin-top: 5px;
}

.exif_base {
  margin-top: 5px;
}

iframe.twitter-share-button {
  width: 90px!important;
}
