= form.label :password
= form.password_field :password, class: 'input-small'
= form.submit t('buttons.delete'), disable_with: t('buttons.delete'), class: 'btn btn-danger'
- if form.object.errors[:password].present?
  .alert.alert-error
    - form.object.errors.full_messages_for(:password).each do |error|
      = error
